@charset "utf-8";

/*-------------
ダッシュボード css
---------------*/
:root {
  --h: 100px;
}

/* 最小幅820px固定 */
.insideWrapper {
  width: max(100%, 820px);
  background: #F6F7BA;
  min-height: 100vh;
}

.insideHeader {
  width: 100%;
  height: var(--h);
  background: url(../image/dsb_header.svg) center top no-repeat;
  background-size: cover;
  position: relative;
}

.insideTitle {
  width: clamp(820px, 100%, 1000px);
  padding: 0 12px;
  margin: 0 auto;
}

.insideTitle img {
  padding-top: calc((var(--h) - 47px) / 2);
}

.btnHeder {
  --btnW: 120px;
  --btnH: 30px;
  position: absolute;
  top: calc((100% - var(--btnH)) / 2);
  right: 40px;
  display: grid;
  grid-template-columns: repeat(2, var(--btnW));
  column-gap: 30px;
  width: 270px;
}

.prevPage a {
  display: block;
  width: var(--btnW);
  line-height: var(--btnH);
  text-align: center;
  background: #F6F7BA;
  color: #658B3D;
  border-radius: 12px;
}

.logOut a {
  display: block;
  width: var(--btnW);
  line-height: var(--btnH);
  text-align: center;
  border: solid 1px #658B3D;
  color: #658B3D;
  border-radius: 12px;
}

.insideMain {
  padding: 0 12px;
  /* header100px footer26px container margin-top80px */
  min-height: calc(100vh - 206px);
}

.container {
  width: clamp(796px, 100%, 1000px);
  padding: 40px;
  background: #fff;
  margin: 80px auto;
}

.pageTitle {
  font-size: 3.2rem;
  font-weight: 700;
  color: #658B3D;
  text-align: center;
  margin: 0 0 40px 0;
}

.once {
  text-align: center;
}

.loginBox {
  margin: 50px auto 60px auto;
  width: 430px;
}

.formBox {
  display: grid;
  grid-template-columns: 130px auto;
  column-gap: 20px;
  margin-top: 20px;
}

.idBox {
  display: inline-block;
  width: 100%;
  line-height: 26px;
  border: solid 1px #ccc;
  border-radius: 6px;
  padding: 3px 6px;
}

.error {
  color: #DD4747;
  font-size: 1.4rem;
  background: url(../image/caution.svg) left center no-repeat;
  background-size: 16px;
  padding-left: 20px;
  margin-left: 100px;
  margin-top: 10px;
}

.need {
  font-size: 1.2rem;
  padding-left: 10px;
  color: #DD4747;
}

.sendBtn,
.backBtn,
.backBtn,
.cancel a {
  display: block;
  width: 200px;
  line-height: 40px;
  text-align: center;
  margin: 30px auto 0 auto;
  border-radius: 10px;
  color:#fff;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

button.sendBtn,
.backBtn {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
}

.sendBtn {
  background: #DD4747 url(../image/wh_arrow.svg) 94% center no-repeat;
  background-size: 8px;
}

.cancel a,
.backBtn {
  background: #658B3D url(../image/wh_arrow.svg) 94% center no-repeat;
  background-size: 8px;
}

.cancel {
  margin-bottom: 30px;
}

/*
.editImgBtn {
	color: transparent;
}

.editImgBtn::file-selector-button {
	color:rgba(0, 0, 0, 1);
}
*/
/*---------- 管理画面メニュー一覧 ----------*/

.addBtn {
  width: 300px;
  margin: 60px auto 40px auto;
}

.addBtn a {
  display: block;
  width: 100%;
  text-align: center;
  background: #658B3D url(../image/wh_arrow.svg) 94% center no-repeat;
  background-size: 8px;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 50px;
  border-radius: 10px;
}

.selectTab .actTab {
  background: #fff;
  color: #658B3D;
  cursor: default;
}

.menuList {
  width: clamp(796px, 100%, 1000px);
  padding: 40px;
  background: #fff;
  margin: 0 auto 80px auto;
  border-radius: 10px;
}

.catTab {
  width: 700px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  margin: 10px auto 30px auto;
}

.catTab li {
  text-align: center;
  line-height: 36px;
  background: #658B3D;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
  border: solid 1px #658B3D;
  cursor: pointer;
}

.catTab .actCat {
  background: #F6F7BA;
  color: #658B3D;
  cursor: default;
}

.detail {
  width: 700px;
  margin: 50px auto 40px auto;
  display: none;
}

.detail li {
  display: grid;
  grid-template-columns: 90px auto 130px;
  column-gap: 20px;
  padding: 16px 20px;
  border: solid 1px #ccc;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 14px;
}

.detail figure>img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.optionUp img {
  vertical-align: bottom;
}

.catName {
  display: inline-block;
  line-height: 2;
  padding: 0 10px;
  font-size: 1.1rem;
  border: solid 1px #1B1919;
  border-radius: 28px;
  margin-left: 5px;
}

.editBtn {
  margin-top: 5px;
}

.edit a,
.delete a {
  display: block;
  width: 130px;
  text-align: center;
  line-height: 32px;
  border-radius: 6px;
}

.edit a {
  color: #1B1919;
  background: #9ACA67 url(../image/write.svg) 10px center no-repeat;
  background-size: 13px;
  margin-bottom: 14px;
}

.delete a {
  color: #fff;
  background: #DD4747 url(../image/delete.svg) 10px center no-repeat;
  background-size: 18px;
}

/*---------- メニュー新規追加 ----------*/
.menuAdd {
  width: 680px;
  margin: 0 auto 40px auto;
}

.addBox {
  display: grid;
  grid-template-columns: 320px auto;
  column-gap: 20px;
  margin-bottom: 20px;
}

.addBox:last-of-type {
  margin-bottom: 50px;
}

.addBox input[name="addName"],
.addBox input[name="addPrice"],
.addBox select,
.addBox input[name="editName"],
.addBox input[name="editPrice"] {
  display: inline-block;
  padding: 0 6px;
  border: solid 1px #ccc;
  border-radius: 6px;
}

.addBox input[name="addName"],
.addBox input[name="editName"] {
  width: 100%;
  line-height: 30px;
}

.addBox select {
  width: 100%;
  height: 30px;
}

.addBox input[name="addPrice"],
.addBox input[name="editPrice"] {
  width: 180px;
  line-height: 30px;
}

.addBox input[type="radio"] {
  display: inline-block;
  margin: 0 20px 0 6px;
}

.addtax {
  padding-left: 20px;
}

.addImg img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.addBox .error {
  margin: 0;
}

.toList {
  width: 140px;
  margin: 0 auto 20px auto;
}

.toList a {
  display: block;
  width: 100%;
  line-height: 30px;
  text-align: center;
  color: #658B3D;
  border: solid 1px #658B3D;
  border-radius: 12px;
}

/*---------- メニュー削除 ----------*/
.deleteImg {
  text-align: center;
  margin-top: 30px;
}

.deleteImg img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.deleteName {
  margin-top: 20px;
  font-size: 1.8rem;
  text-align: center;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt10 {
  margin-top: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pr10 {
  padding-right: 10px;
}

.small {
  font-size: 80%;
}

.right {
  text-align: right;
}